<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form th:method="patch" th:action="@{/products/{id}(id=${product.id})}" th:object="${product}">
    <div style="display: flex; flex-direction: column">
        <label for="name">Название:</label>
        <input type="text" class="form-control" th:field="*{name}" id="name"/>
        <label for="description">Описание:</label>
        <input type="text" class="form-control" th:field="*{description}" id="description"/>
        <label for="price">Цена:</label>
        <input type="text" class="form-control" th:field="*{price}" id="price"/>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">изменить</button>
</form>
<br>
<form th:method="delete" th:action="@{/products/{id}(id=${product.id})}">
    <button class="btn btn-danger" type="submit">удалить</button>
</form>
</body>
</html>